{% extends "base.html" %}
{% include 'chat-template.html' %}


{% block content %}

<div class="desafio-header animate__animated animate__fadeInDown">
    <h1>{{ desafio.nome }}</h1>
    <div class="desafio-info">
        <p>Meta: {{ desafio.meta|format_currency }}</p>
        <p>Depósitos Feitos: {{ desafio.get_depositos_feitos()|length }} / {{ desafio.depositos_totais }}</p>
        <p>Valor Investido: R$ <span id="valor-investido">{{ desafio.valor_investido|format_currency }}</span></p>
        <p>Valor Máximo do Aporte:  {{ desafio.valor_maximo_aporte|format_currency }}</p>
    </div>
    <!-- Ajustar aqui -->
    <div class="progress-bar">
        {% set progresso = (desafio.valor_investido / desafio.meta * 100) %}
        <div class="progress" style="width: {{ 100 if progresso > 99 else progresso|round(2) }}%;"></div>
    </div>



<p class="animate__animated animate__fadeInUp" id="valor-total-container">
    Valor total selecionado: R$ <span id="valor-total-selecionado">0,00</span>
</p>

<h2 class="animate__animated animate__fadeInUp">Tabela de Depósitos</h2>
<div id="tabela-container" class="animate__animated animate__fadeInUp">
    <form id="deposito-form" action="{{ url_for('chalenger.registrar_deposito', desafio_id=desafio.id) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <table class="table table-bordered">

            {% for i in range(0, desafio.depositos_totais, 10) %}
            <tr>
                {% for j in range(1, 15) %}
                {% set deposito_num = i + j %}
                {% if deposito_num <= desafio.depositos_totais %}
                {% set valor_deposito = desafio.get_valores_depositos()[deposito_num - 1] %}
                <td class="deposito {% if deposito_num in desafio.get_depositos_feitos() %}feito{% endif %}" 
                    data-numero="{{ deposito_num }}" 
                    data-valor="{{ valor_deposito }}">
                    R$ {{ "%.2f"|format(valor_deposito) }}
                </td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <button type="submit" class="btn btn-primary">Registrar Depósitos</button>
    </form>
</div>

<div class="action-buttons">
    <a href="{{ url_for('chalenger.menu_principal') }}" class="btn animate__animated animate__fadeInUp">Voltar para a lista de desafios</a>

    {% if desafio.owner == current_user %}
    <a href="{{ url_for('chalenger.convidar', desafio_id=desafio.id) }}" class="btn animate__animated animate__fadeInUp">Convidar usuário</a>
    {% endif %}
</div>

<style>
    .desafio-header {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .desafio-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 10px;
    margin: 10px 0;
        width: 100%; /* Garanta que a barra ocupe toda a largura disponível */
        overflow: hidden; /* Evita que o conteúdo da barra saia dos limites */
    }

    .progress {
        background-color: var(--primary-color);
        height: 100%; /* Certifique-se de que a altura esteja correta */
        border-radius: 5px;
        transition: width 0.5s ease-in-out;
    }


    #valor-total-container {
        font-size: 1.2em;
        font-weight: bold;
        color: var(--primary-color);
        background-color: #E8F5E9;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
    }

    #tabela-container {
        overflow-x: auto;
        margin-bottom: 20px;
    }

    #depositos {
        width: 100%;
        border-collapse: collapse;
    }

    .deposito {
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .deposito:hover {
        background-color: #f5f5f5;
    }

    .deposito.selecionado {
        background-color: var(--primary-color);
        color: white;
    }

    .deposito.feito {
        background-color: #E8F5E9;
        color: var(--secondary-color);
        cursor: not-allowed;
    }

    .action-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    @media (max-width: 768px) {
        .desafio-info {
            flex-direction: column;
        }

        .action-buttons {
            flex-direction: column;
        }

        .action-buttons .btn {
            margin-bottom: 10px;
        }
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.3.1/decimal.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const depositoForm = document.getElementById('deposito-form');
    const tabelaContainer = document.getElementById('tabela-container');
    const valorTotalSpan = document.getElementById('valor-total-selecionado');
    let depositosSelecionados = {};

    tabelaContainer.addEventListener('click', function(e) {
        if (e.target.classList.contains('deposito') && !e.target.classList.contains('feito')) {
            e.target.classList.toggle('selecionado');
            const numero = e.target.dataset.numero;
            const valor = parseFloat(e.target.dataset.valor);

            if (e.target.classList.contains('selecionado')) {
                depositosSelecionados[numero] = valor;
            } else {
                delete depositosSelecionados[numero];
            }

            atualizarValorTotal();
        }
    });

    function atualizarValorTotal() {
        const valorTotal = Object.values(depositosSelecionados).reduce((a, b) => a + b, 0);
        valorTotalSpan.textContent = valorTotal.toFixed(2);
    }

    depositoForm.addEventListener('submit', function(e) {
        e.preventDefault();
        
        if (Object.keys(depositosSelecionados).length === 0) {
            alert('Por favor, selecione pelo menos um depósito.');
            return;
        }
        
        const dadosParaEnviar = {
            depositos: Object.keys(depositosSelecionados),
            csrf_token: document.querySelector('input[name="csrf_token"]').value
        };
        
        fetch(this.action, {
            method: 'POST',
            body: JSON.stringify(dadosParaEnviar),
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': dadosParaEnviar.csrf_token
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.reload();
            } else {
                alert('Erro ao registrar depósito: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Erro:', error);
            alert('Ocorreu um erro ao processar sua solicitação.');
        });
    });
});
</script>
{% endblock %}